body {
  background-color: rgb(235, 235, 235);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  margin: 20px 0 50px 0;
  text-align: center;
}

input {
  text-align: right;
}

button {
  align-self: center;
}

#grid-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#settings-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#grid-container {
  width: 500px;
  height: 500px;
  display: grid;
  /* grid-template-columns is set by JS; default below */
  /* grid-template-columns: repeat(16, 30px); */
  border: 2px solid rgb(85, 85, 85);
}

#grid-square {
  border-top: 1px solid rgb(85, 85, 85);
  border-left: 1px solid rgb(85, 85, 85);
}

.grid-setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-setting label {
  margin: 10px 0;
}

.border-right {
  border-right: 1px solid rgb(85, 85, 85);
}

.border-bottom {
  border-bottom: 1px solid rgb(85, 85, 85);
}